body {
    font-family: Arial, sans-serif;
    background-color: #A0DDFF;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 900px;
    height: 500px;
}

.diyabet-img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
